<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHARESHARE</title>
    <link rel="stylesheet" href="../static/static.css">
</head>
<body>
    <div id="title-bar">
        <div class="title">SHARESHARE
            <div class="subtitle">Friends</div>
        </div>
        <div id="login" class="option">
        <a href={{ url_for("login") }}>Login</a>
        </div>
        <div id="register" class="option">
            <a href={{ url_for("register") }}>Register</a>
        </div>
        <div id="logout" class="option">
            <a href={{ url_for("logout") }}>Log-out</a>
        </div>
    </div>
    <div id="menu-bar">
        <ul>
            <li>
                <a href={{ url_for("index") }}>Home</a>
            </li>

            <li>
                <a href={{ url_for("my_photo") }}>My Photos</a>
            </li>

            <li>
                <a href={{ url_for("friend") }}>Friends</a>
            </li>

            <li>
                <a href={{ url_for("my_profile") }}>My Profile</a>
            </li>
        </ul>

    </div>


    Your Friends are:
    <hr/>
    {% for i in friends_list %}
    {% print(i[0])%}
        <br/>
    {% endfor %}
    <hr/>
    <h1>Add Friend</h1>
    <hr/>
    
    <form action = "{{ url_for('friend_add') }}" method="post">
        Friend id:<br>
        <input type = "text" name = "friend_id"><br>
        <input type = "submit" name = "submit">
    </form>

</body>
</html>