<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHARESHARE</title>
    <link rel="stylesheet" href="../static/static.css">
</head>
<body>
    <div id="title-bar">
        <div class="title">SHARESHARE
            <div class="subtitle">My Photos</div>
        </div>
        <div id="login" class="option">
        <a href={{ url_for("login") }}>Login</a>
        </div>
        <div id="register" class="option">
            <a href={{ url_for("register") }}>Register</a>
        </div>
        <div id="logout" class="option">
            <a href={{ url_for("logout") }}>Log-out</a>
        </div>
    </div>
    <div id="menu-bar">
        <ul>
            <li>
                <a href={{ url_for("index") }}>Home</a>
            </li>

            <li>
                <a href={{ url_for("my_photo") }}>My Photos</a>
            </li>

            <li>
                <a href={{ url_for("friend") }}>Friends</a>
            </li>

            <li>
                <a href={{ url_for("my_profile") }}>My Profile</a>
            </li>
        </ul>
    </div>

    <div class="main photo">
        <div id="album">Albums:
            <ul id="album-list">
                {% for album in alist %}
                    <li>{{ album }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="photoButtoms">
            <div></div>
            <div>
                <button id="upload">Upload Photo</button>
            </div>
            <div>
                <button id="createAlbum" onclick="location.href={{ url_for("create_album") }}">Create New Album</button>
            </div>
            <div></div>
        </div>
    </div>

</body>

</html>