<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHARESHARE</title>
    <link rel="stylesheet" href="../static/static.css">
</head>
    <body>
    <div id="title-bar">
        <div class="title">SHARESHARE
            <div class="subtitle">Upload photo</div>
        </div>
        <div id="login" class="option">
        <a href={{ url_for("login") }}>Login</a>
        </div>
        <div id="register" class="option">
            <a href={{ url_for("register") }}>Register</a>
        </div>
        <div id="logout" class="option">
            <a href={{ url_for("logout") }}>Log-out</a>
        </div>
    </div>
    <div id="menu-bar">
        <ul>
            <li>
                <a href={{ url_for("index") }}>Home</a>
            </li>

            <li>
                <a href={{ url_for("my_photo") }}>My Photos</a>
            </li>

            <li>
                <a href={{ url_for("friend") }}>Friends</a>
            </li>

            <li>
                <a href={{ url_for("my_profile") }}>My Profile</a>
            </li>
        </ul>
    </div>
        <form method="POST" class="uploadPhoto" enctype="multipart/form-data" action={{ url_for("upload_file") }}>
            <div>
                <label for="photo">Select photo:</label>
                <input type="file" name="file" required='true' /><br />
            </div>
            <div>
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
            </div>
            <div>
                <label for="album">Album:</label>
                <select class="selectA" name="album">
                    {% for album in alist %}
                        <option value="{{ album[1] }}">{{ album[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>

        </form>

    </body>
</html>